{% extends "base.html" %}
{% block content %}
<table class="table">
  <thead>
    <tr>
      <th scope="col">Название</th>
      <th scope="col">Категория</th>
      <th scope="col">Поставщик</th>
      <th scope="col">ед.изм.</th>
      <th scope="col">Цена</th>
    </tr>
  </thead>
  <tbody>
    {% for product in products %}
      <tr>
        <th scope="row">{{ product.name|upper }}</th>
        <th scope="row">
          {% for cat in product.category.all %}
          {{ cat }}
          {% endfor %}
        </th>
        <td>{{product.supplier_name.name}}</td>
        <td>{{ product.get_unit_display }}</td>
        <td>{{ product.price }}</td>
      </tr>
    {% endfor %}
    <tr>
        <td colspan="3"></td>
        <td>
          <a href="{% url 'products:create' %}">
            <button type="button" class="btn btn-primary">Добавить товар</button>
          </a>
        </td>
      </tr>
  </tbody>
</table>
<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>
{% endblock %}